<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Tessa's Shipping Company</title>
  </head>
  <body>
    <h1>Add a new parcel</h1>

    <form action="/parcels" method="post">
        <label for="length">Enter the Length</label>
        <input id="length" name="length" type="text"><br />

        <label for="width">Enter the Width</label>
        <input id="width" name="width" type="text"><br />

        <label for="height">Enter the Height</label>
        <input id="height" name="height" type="text"><br />

        <label for="weight">Enter the Weight</label>
        <input id="weight" name="weight" type="text">

        <button type="submit">Submit</button>
    </form>

  </body>
</html>